---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Countdown from '../components/Countdown.astro';
import Details from '../components/Details.astro';
import Carousel from '../components/Carousel.astro';
import RSVP from '../components/RSVP.astro';
import AudioPlayer from '../components/AudioPlayer.astro';
---

<Layout title="Giuli y Rody - Nos Casamos">
	<AudioPlayer />
	<Hero />
	<Countdown />
	<Details />
	<Carousel />
	<RSVP />
    
    <footer class="bg-boda-navy text-white text-center py-8 font-sans text-xs tracking-widest opacity-95">
        <p>¡LOS ESPERAMOS PARA CELEBRAR JUNTOS! 🤍</p>
        <p class="mt-2 text-[10px] opacity-50">GIULI & RODY</p>
    </footer>
</Layout>
